
@import url("https://fonts.googleapis.com/css?family=VT323");
.cals{
    background-color: #A6AF91;
    width: 640px;
    font-family: 'VT323';
}
.header{
    background-color: #222;
    height: 100%;
    padding: 1em 2em 2em 2em;
    border: 0.5em outset #555;
}
h1{
    margin: 0.25em 0 0.5em 0;
}
.header hr {
border: 0;
border-bottom: 0.25em solid #444;
margin-left: -2em;
margin-right: -2em;
margin-bottom: 0;
}
.red{
    border-bottom:0.25em solid red;
}
input[type=text] {
    background-color: #928C7C;
    color: #222;
    font-size: 300%;
    min-width: 95%;
    max-width: 95%;
    border: 0.1em inset #CBCBCB;
    padding-left: 0.1em;
    text-align: right;
}
.bady{
    border: 0.5em outset #C6AF91;
    height: 100%;
    min-height: 20em;
    padding: 1em 1em 3em 1em ;
}
.body hr {
    border-bottom: 0.25em solid #9F3543;
}
.row {
    margin-top: 0.25em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
input[type=button] {
    background-color: #444;
    border: 0.2em outset #444;
    color: white;
    font-size: 200%;
    width: 3.6em;
    height: 2em;
    padding: 0;
    margin: 0;

}
input[type=button].equals {
    border: 0.2em outset #666;

}
input[type=button].clear {
    border: 0.2 outset #FE752D;
}
input[type=button]:active {
    border: 0 !important;
}
input[type=button]:focus {
    outline: 0;
}